* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(204, 43%, 93%);
    background-image: url() ;
    font-family: "karla";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.container {
    width: 50%;
    position: absolute;
}
#com-heading {
    color:  hsl(179, 62%, 56%);
    font-weight: 700;
}
#sub-heading {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}
#community-text {
    color: hsl(200, 6%, 39%);
    font-size: 13px;
}
.community {
    padding: 30px 25px;
    border-radius: 10px;
    background-color: white;
}
.payment {
    background-color: hsl(179, 62%, 56%);
    border-end-start-radius: 10px;
    padding: 30px 30px 0 30px;

}
#pay-heading {
    color: white;
    font-weight: 700;
}
#price {
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.payment p {
    color: hsl(217, 10%, 54%);
}
#pay-text {
    color: white;
}
.btn {
    margin-top: 20px;
    background-color: hsl(71, 73%, 54%);
    border-color: hsl(71, 73%, 54%);
    font-weight: 700;
    width: 200px;
    height: 45px;
    border: transparent;
}
.btn:hover {
    background-color: hsl(71, 66%, 40%);
    font-size: large;
}
.why-us {
    background-color: hsl(179,  88%, 66%);
    padding-top: 25px; 
    color: white; 
    border-end-end-radius: 10px;
    padding-bottom: 50px;
}
.why-us h4 {
    font-weight: 700;
    margin-bottom: 25px;
}
.why-us section {
   line-height:25%;
   font-size: 13px;
   color: hsl(0, 0%, 91%);
}
img {
    position: absolute; 
    height: 100vh;
    width: 100%; 
    opacity:20%;
}
@media (min-width: 375px) {
    .payment {
        padding: 30px 30px 10px 30px;
        border-radius: 0px;
    }
    #pay-text {
        margin-bottom: -20px;
    }
    .btn {
        width: 125px;
        height: 50px;
    }
    .why-us {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left: 25px;
    }
}
@media (max-width: 1440px) {
    #pay-text {
        margin-bottom: 20px;
    }
    .btn {
        position: relative;
        left: 50px;
        width: 200px;
    }
    .payment {
        border-bottom-left-radius: 10px;
    }
    .why-us {
        border-radius: 0;
        border-bottom-right-radius: 10px;
        padding-left: 50px;
    }
}